# RENAME ME TO .env
RELICS_URL= "https://loungecheckin.ecomm-test-aks.alaskaair.com/loungecheckin/log-checkin"
TOKEN_URL="https://www.auth-test.alaskaair.com/oauth2/default/v1/token"
TOKEN_AUTH="BASE64_ENCODED_KEY:SECRET_TO_TOKEN_URL"
